.movie {
    margin: 20px auto;
    width: fit-content;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .movie__intro {
    position: relative;
  }
  
  .movie__backdrop {
    width: 100%;
    border-radius: 10px;
  }
  
  .movie__detail {
    display: flex;
    margin-top: 20px;
  }
  
  .movie__detailLeft {
    flex: 0 0 30%;
  }
  
  .movie__posterBox {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .movie__poster {
    width: 100%;
    border-radius: 10px;
  }
  
  .movie__detailRight {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .movie__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie__tagline {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .movie__rating {
    margin-bottom: 10px;
  }
  
  .movie__runtime,
  .movie__releaseDate {
    margin-bottom: 5px;
  }
  
  .movie__genres {
    margin-bottom: 10px;
  }
  
  .movie__genre {
    margin-right: 5px;
    background-color: #ddd;
    padding: 2px 5px;
    border-radius: 5px;
  }
  
  .synopsisText {
    font-weight: bold;
  }
  
  .movie__links {
    margin-top: 20px;
  }
  
  .movie_links .movie_heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie__links a {
    display: block;
    margin-bottom: 10px;
  }
  
  .movie__imdbButton,
  .movie__homeButton {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  }
  
  .movie__imdbButton:hover,
  .movie__homeButton:hover {
    background-color: #0056b3;
  }
  
  .newTab {
    margin-left: 5px;
  }
  
  .movie__production {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .movie__productionCompany {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .productionCompanyImage {
    display: flex;
    align-items: center;
  }
  
  .productionCompanyImage span {
    margin-left: 5px;
  }
  
  .movie__cast {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
  }
  
  .movie__actorImage {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .movie__heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }

  .movie__credits {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .movie__director {
    max-width: 50%;
    display: flex;
    justify-content: center;
  }