.movie__list {
    padding: 0 3rem 3rem 3rem;
    display: flex;
    justify-content: center;
}


.list__title {
    font-size: 1.5rem;
    margin: 2.5rem;
}

.list__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filters {
    padding: 28px 3rem 3rem 3rem;

}

@media screen and (max-width: 767px) and (min-width: 360px) {
    .movie__list {
        display: flex;
        flex-direction: column;
    }

   
}